* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
}

body {
	
	margin: 0;

	}

#masthead {
		background: #a9ab4f;
		height: 150px;
		border-bottom: 8px solid #dff;
		background-image: url(../images/BeeFlowerSmall.png);
		background-repeat: no-repeat;
		z-index: 1;
	}
	
#wrap {
	width: 100%;
	margin: auto;
	background-color: #edab32;
	overflow: hidden;
	
	}


nav, main, footer {
	display: block;
	}

#masthead h1 {
	background-repeat: no-repeat;
	background-image: url(../images/Lil-Bird-Logo-MastheadSmallALT.png);
	width: 100%;
	margin: auto;
	padding-left: 20px;
	background-position: center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 15%;

	}
	
h1,h2,h3 { 
	padding-left: 20px;
	}
	
h3 {
	margin-bottom: 0;
	}

span {
	font-size: 150%
	}

	
#info {
	margin-left: 30px;
	padding: 5px 5px 5px 5px;
	
		}
		
main table {
	margin: auto;
	width: 90%;
	border: 1px solid #48a;
	border-collapse: collapse;
	}

#homephoto {
	display: none;
	}

table {
    border: 1px solid #001963;
    border-collapse: collapse;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 10px;
}
	
td, th {
	padding: 5px;
	border: 1px solid #48a;
	}

	
td {
	padding: 2px 2px 2px 2px;
	text-align: center;
	}
	
tr:nth-of-type(even) {
	background-color: rgba(255, 165, 165, .80);;
	}

tr:nth-of-type(odd) {
	background-color: #fff;
	}
	
.text {
	text-align: left;
	}
	
form { 
	padding-left: 5px;
	width: 60%;
	margin: 0 auto;
	}

input{
	margin-bottom: 10px;
	}
		
#navbar {
	text-align: center;
	list-style-type: none;
	width: 40%;
	display: block;
	margin-left: 20px;
	margin-bottom: 25px;
	}
	
#navbar li {
	padding-top: 15px;
	display: block;
	}

#navbar a {
	text-decoration: none;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 20px;
	border-radius: 5px;
	width: 50px;
	background-color: rgba(255, 165, 165, .80);
	color: #000;
	box-shadow: inset -2px -2px 2px #666;
	}

#navbar .here { 
	color: rgba(255, 165, 165, .80);
	background: #333;

}

#navbar .here:hover { 
	color: rgba(255, 165, 165, .80);
	background-color: #333;
	box-shadow: inset -2px -2px 2px #fff;
}


#navbar .here:visited { 
	color: rgba(255, 165, 165, .80);
	background: #333;

}



#navbar a:visited {
	color: #333;
	}

#navbar a:hover {
	color: #fff;
	border-radius: 5px;
	background-color: #888;
	box-shadow: 2px 2px 2px #000;
	}



#navbar2 {
	text-align: center;
	list-style-type: none;
	float: right;
	width: 40%;
	display: block;
	margin-left: 20px;
	margin-top: -95px;
	}
	
#navbar2 li {
padding-top: 15px;
display: block;
	}

#navbar2 a {
	text-decoration: none;
	text-align: center;
	/*margin-left: 5px;*/
	color: #454;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 20px;
	border-radius: 5px;
	background-color: rgba(255, 165, 165, .80);
	color: #fff;
	box-shadow: inset -2px -2px 2px #666;
	}


	
#navbar2 a:link { 
	color: #050;
	}

#navbar2 a:visited {
	color: #333;
	}

#navbar2 a:hover {
	color: #fff;
	border-radius: 5px;
	background-color: #888;
	box-shadow: 2px 2px 2px #000;
	}

#list {
	margin-left: 50px;
	list-style: none;
	font-size: 20px;
}

#list li{
	padding-bottom: 10px;
}


	
#submit {
	margin-top: 0;
	font-weight: bold;
	background-color: #aaf;
	border: 1px solid #000;
	border-radius: 3px;
	cursor: pointer;
	}

fieldset {
	background: #a9ab4f;
	border-radius: 5px;
	width: 300px;
	padding-left: 10px;
	margin-bottom: 20px;
	margin-left: 25px;
	box-shadow:  3px 3px 3px #000;
	}


label {
	display: inline-block;
	width: 100px;
	}

	
footer {
	text-align: center;
	clear: both;
	margin-left: 0;
	bottom: 0;
	}
	

.tableheader {
background-color: #95BEE6;
color:#333;
font-weight:bold;
}
.tablerow {
background-color: #A7D6F1;
color:#000;
}
.message {
color: #FF0000;
font-weight: bold;
text-align: center;
width: 100%;
}

label::before {
	content: "* ";
	color: #c70000
}
	

